# Application
NODE_ENV=development

APP_PORT=3000
APP_URL=http://localhost:3000
APP_TIMEZONE=Asia/Kolkata
DB_TIMEZONE=+00:00


# JWT Configuration
JWT_SECRET=super_secret_jwt_key_here
JWT_EXPIRES_IN=24h

# Database Configuration (MySQL)
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=express_js
DB_USERNAME=express_js
DB_PASSWORD=password
MYSQL_ROOT_PASSWORD=password

# SMTP Configuration
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=your-email@example.com
MAIL_PASSWORD=your-password
MAIL_FROM_ADDRESS=your-email@example.com
MAIL_FROM_NAME="My Application"
